<!-- templates/base.html -->

<!DOCTYPE html>
<html data-theme="cupcake">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

        <div class="navbar bg-base-200">
            <a href="../"><h2 class="card-title" style="height:4em;">home</h2></a>
            {% if not current_user.is_authenticated %}
            
            <a href="../signup" class="btn btn-primary normal-case text-xl" style="margin-left: auto;">Sign up</a>
            <a href="../login" class="btn btn-secondary normal-case text-xl">Log in</a>
            {% endif %}
        
        
        
            {% if current_user.is_authenticated %}
            <a href="../logout" class="btn btn-secondary normal-case text-xl" style="margin-left: auto;">Logout</a>
            {% endif %}
        </div>
